<!DOCTYPE html>
<html lang="en">
<head>
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>Colby T. Dobson</title>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta name="msvalidate.01" content="EE5E651FF6FE635BDC304C5BC719DF69" />
    <script src="/scripts/base.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/scripts/login.js"></script>
    {{#if loginRequired}}
        <style>
            #main, #placeholder-text {
                display: none;
            }
        </style>
        <script src="/scripts/loginRequired.js"></script>
    {{/if}}
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="stylesheet" href="/styles/base.css">
    {{#if style}}
        <link rel="stylesheet" href="{{style}}">
    {{/if}}
    {{#if script}}
        <script src="{{script}}"></script>
    {{/if}}
    {{#if script2}}
        <script src="{{script2}}"></script>
    {{/if}}
</head>
<body>
<div class="container">
    {{> header}}
    <div class="main" id="main">
        {{{body}}}
    </div>
    {{#if loginRequired}}
        <div class="main" id="placeholder">
            <h2 id="placeholder-text">Please sign in to use this page</h2>
        </div>
    {{/if}}
    {{> footer}}
</div>
</body>
</html>