<!DOCTYPE html>
<html lang="en">
<head>
    {{#if title}}
        <title>{{title}}</title>
    {{else}}
        <title>Colby T. Dobson</title>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="stylesheet" href="/styles/base.css">
    {{#if style}}
        <link rel="stylesheet" href="{{style}}">
    {{/if}}
    {{#if script}}
        <script src="{{script}}"></script>
    {{/if}}
    {{#if script2}}
        <script src="{{script2}}"></script>
    {{/if}}
</head>
<body>
<div class="main" id="main">
    {{{body}}}
</div>
</body>
</html>